@use '/src/sass/base/_colors' as colors;

.typewriter-wrap {
  display: block;
  margin: 0 0 1rem 0;
}
.output {
  font-family: 'Source Code Pro', monospace;
  color: colors.$color-shades-white;
}
.output.align-left {
  text-align: left;
}
.output.align-center {
  text-align: center;
}

.cursor::after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  background-color: colors.$color-shades-white;
  animation: blink 0.5s infinite;
  height: 16px;
  width: 8px;
  vertical-align: -2px;
}
@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
