@import '_colors';
@import '_fonts';

html {
  @include lg {
    font-size: 14px;
  }
}

html,
body {
  background-color: $primary-background-color;
  color: $color-shades-white;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari és Opera */
  }
}

strong {
  font-weight: bold;
}

@include xs {
  html,
  body {
    font-size: $base-font-size-mobile;
  }
}

@include md {
  html,
  body {
    font-size: $base-font-size-tablet;
  }
}

@include xl {
  html,
  body {
    font-size: $base-font-size-desktop;
  }
}

section {
  @include xs {
    margin-bottom: 40px;
  }
  @include md {
    margin-bottom: 70px;
  }
  @include xl {
    margin-bottom: 120px;
  }
}

// Margins

.mb-20px {
  margin-bottom: 20px;
}

.mb-40px {
  margin-bottom: 40px;
}

.mt-20px {
  margin-top: 20px;
}

.mt-40px {
  margin-top: 40px;
}

.text-center {
  text-align: center;
}
