@use '/src/sass/base/_colors' as colors;
@use '/src/sass/base/_fonts' as fonts;
@use '/src/sass/base/_breakpoints' as breakpoints;

html {
  @include breakpoints.lg {
    font-size: 14px;
  }
}

html,
body {
  background-color: colors.$primary-background-color;
  color: $color-shades-white;
  // overflow-x: hidden;
  // overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari és Opera */
  }
}

strong {
  font-weight: bold;
}

@include breakpoints.xs {
  html,
  body {
    font-size: fonts.$base-font-size-mobile;
  }
}

@include breakpoints.md {
  html,
  body {
    font-size: fonts.$base-font-size-tablet;
  }
}

@include breakpoints.xl {
  html,
  body {
    font-size: fonts.$base-font-size-desktop;
  }
}

section {
  @include breakpoints.xs {
    margin-bottom: 20px;
  }
  @include breakpoints.md {
    margin-bottom: 20px;
  }
  @include breakpoints.xl {
    margin-bottom: 120px;
  }
}

u {
  text-decoration: underline;
}
b {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
