$colors: (
  brand: (
    'orange': hsl(37.3, 90.4%, 51.2%),
  ),
  shades: (
    'black': hsl(0, 0%, 15%),
    'lightBlack': hsl(240, 10%, 30%),
    'darkGray': hsl(0, 0%, 20%),
    'darkerGray': hsl(0, 0%, 15%),
    'gray': hsl(0, 0%, 77%),
    'lightGray': hsl(0, 0%, 90%),
    'white': hsl(0, 0%, 100%),
  ),
  cyberpunk: (
    'gold': hsl(43, 74%, 49%),
    // #d4af37
    'darkGold': hsl(43, 70%, 30%),
    // #8b6914
    'orange': hsl(37, 100%, 50%),
    // #ff9d00
    'darkBg': hsla(30, 30%, 5%, 0.85),
    // rgba(15, 12, 8, 0.85)
  ),

  flag: (
    'notify': hsl(0, 73%, 50%),
  ),
);

$color-brand-orange: hsl(37.3, 90.4%, 51.2%);
$color-shades-black: hsl(0, 0%, 15%);
$color-shades-white: hsl(0, 0%, 100%);
$color-shades-lightGray: hsl(0, 0%, 90%);
$color-shades-gray: hsl(0, 0%, 77%);
$color-shades-darkGray: hsl(0, 0%, 20%);
$color-shades-darkerGray: hsl(0, 0%, 15%);
$color-shades-lightBlack: hsl(240, 10%, 30%);
$color-cyberpunk-gold: hsl(43, 74%, 49%);
$color-cyberpunk-darkGold: hsl(43, 70%, 30%);
$color-cyberpunk-orange: hsl(37, 100%, 50%);
$color-cyberpunk-darkBg: hsla(30, 30%, 5%, 0.85);
$color-error: hsl(0, 73%, 50%);
$color-success: hsl(120, 39%, 45%);

$offcanvas-menu-color: rgba(0, 0, 0, 1);
$logo-color-primary: $color-shades-lightGray;
$separator-color: rgba(255, 255, 255, 0.3);
$navbar-scrolled-background-color: $color-shades-black;
$primary-background-color: $color-shades-black;

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    //text color classes
    .clr-#{$color}-#{$shade} {
      color: $value;
    }
    //background color classes
    .bg-#{$color}-#{$shade} {
      background-color: $value;
    }
  }
}

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      #{$color}-#{$shade}: #{$value};
    }
  }
}

.clr-error {
  color: $color-error;
}
