@use 'sass:math';
@import '_grid';
@import '_breakpoints';

// Font familis
$font-family-primary: 'Abril Fatface';
$font-family-secondary: 'Nunito Sans Variable', sans-serif;

// Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-login-bold: 500;
$font-weight-semi-bold: 600;

//base font size
$base-font-size-mobile: 14px;
$base-font-size-tablet: 14px;
$base-font-size-desktop: 16px;

// Sizes
$h1-font-size-mobile: 28px;
$h1-font-size-tablet: 42px;
$h1-font-size-desktop: 48px;
$h2-font-size-mobile: 28px;
$h2-font-size-tablet: 28px;
$h2-font-size-desktop: 32px;
$h3-font-size-mobile: 22px;
$h3-font-size-desktop: 26px;
$h4-font-size-mobile: 16px;
$h4-font-size-desktop: 18px;
$h5-font-size-mobile: 14px;
$h5-font-size-desktop: 16px;
$lead-font-size-mobile: 18px;
$lead-font-size-desktop: 20px;
$body-font-size-mobile: 16px;
$body-font-size-desktop: 18px;
$span-font-size-mobile: 13px;
$span-font-size-desktop: 14px;
$small-font-size-mobile: 14px;
$small-font-size-desktop: 16px;

@function fontSize($type, $device: 'desktop') {
  @return map-get(map-get($font-sizes, $type), $device);
}

$font-sizes: (
  h1: (
    desktop: calculateRem($base-font-size-desktop, $h1-font-size-desktop),
    tablet: calculateRem($base-font-size-tablet, $h1-font-size-tablet),
    mobile: calculateRem($base-font-size-mobile, $h1-font-size-mobile),
  ),
  h2: (
    desktop: calculateRem($base-font-size-desktop, $h2-font-size-desktop),
    tablet: calculateRem($base-font-size-tablet, $h2-font-size-tablet),
    mobile: calculateRem($base-font-size-mobile, $h2-font-size-mobile),
  ),
  h3: (
    desktop: calculateRem($base-font-size-desktop, $h3-font-size-desktop),
    tablet: calculateRem($base-font-size-tablet, $h3-font-size-mobile),
    mobile: calculateRem($base-font-size-mobile, $h3-font-size-mobile),
  ),
  h4: (
    desktop: calculateRem($base-font-size-desktop, $h4-font-size-desktop),
    tablet: calculateRem($base-font-size-tablet, $h4-font-size-mobile),
    mobile: calculateRem($base-font-size-mobile, $h4-font-size-mobile),
  ),
  h5: (
    desktop: calculateRem($base-font-size-desktop, $h5-font-size-desktop),
    tablet: calculateRem($base-font-size-tablet, $h5-font-size-mobile),
    mobile: calculateRem($base-font-size-mobile, $h5-font-size-mobile),
  ),
  body: (
    desktop: calculateRem($base-font-size-desktop, $body-font-size-desktop),
    tablet: calculateRem($base-font-size-tablet, $body-font-size-mobile),
    mobile: calculateRem($base-font-size-mobile, $body-font-size-mobile),
  ),
  span: (
    desktop: calculateRem($base-font-size-desktop, $span-font-size-desktop),
    tablet: calculateRem($base-font-size-tablet, $span-font-size-mobile),
    mobile: calculateRem($base-font-size-mobile, $span-font-size-mobile),
  ),
  small: (
    desktop: calculateRem($base-font-size-mobile, $small-font-size-mobile),
    tablet: calculateRem($base-font-size-mobile, $small-font-size-mobile),
    mobile: calculateRem($base-font-size-mobile, $small-font-size-mobile),
  ),
);

// GLOBAL FONT STYLES
.heading {
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
  line-height: 1.2;

  &--1 {
    font-weight: $font-weight-semi-bold;
    @include xs {
      font-size: #{fontSize(h1, mobile)};
    }
    @include md {
      font-size: #{fontSize(h1, tablet)};
    }
    @include xl {
      font-size: #{fontSize(h1, desktop)};
    }
  }

  &--2 {
    font-family: $font-family-secondary;
    font-weight: $font-weight-semi-bold;
    @include xs {
      font-size: fontSize(h2, mobile);
    }
    @include md {
      font-size: fontSize(h2, tablet);
    }
    @include xl {
      font-size: fontSize(h2, desktop);
    }
  }

  &--3 {
    font-family: $font-family-secondary;
    font-weight: $font-weight-semi-bold;
    text-transform: none;
    @include xs {
      font-size: fontSize(h3, mobile);
    }
    @include md {
      font-size: fontSize(h3, tablet);
    }
    @include xl {
      font-size: fontSize(h3, desktop);
    }
  }

  &--4 {
    font-family: $font-family-secondary;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
    font-weight: 700;
    @include xs {
      font-size: fontSize(h4, mobile);
    }
    @include md {
      font-size: fontSize(h4, tablet);
    }
    @include xl {
      font-size: fontSize(h4, desktop);
    }
  }

  &--5 {
    font-family: $font-family-secondary;
    font-weight: $font-weight-login-bold;
    line-height: 18px;
    text-transform: none;
    @include xs {
      font-size: fontSize(h5, mobile);
    }
    @include md {
      font-size: fontSize(h5, tablet);
    }
    @include xl {
      font-size: fontSize(h5, desktop);
    }
  }

  &--font-family-secondary {
    font-family: $font-family-secondary;
  }
  &--bold {
    font-weight: $font-weight-login-bold;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .heading;
}

h1 {
  @extend .heading--1;
}

h2 {
  @extend .heading--2;
}

h3 {
  @extend .heading--3;
}

h4 {
  @extend .heading--4;
}

h5 {
  @extend .heading--5;
}

.body {
  font-family: $font-family-secondary;
  font-weight: $font-weight-regular;
  line-height: 1.4;
  text-transform: none;

  @include xs {
    font-size: fontSize(body, mobile);
  }
  @include md {
    font-size: fontSize(body, tablet);
  }
  @include xl {
    font-size: fontSize(body, desktop);
  }
  &--bold {
    font-weight: bold;
  }

  &--span {
    font-family: $font-family-secondary;
    font-weight: $font-weight-regular;
    line-height: 1.2;
    text-transform: none;

    @include xs {
      font-size: fontSize(span, mobile);
    }
    @include md {
      font-size: fontSize(span, tablet);
    }
    @include xl {
      font-size: fontSize(span, desktop);
    }

    &--bold {
      font-weight: $font-weight-semi-bold;
    }
  }

  &--small {
    font-family: $font-family-secondary;
    font-weight: $font-weight-regular;
    line-height: 1.4;
    text-transform: none;

    @include xs {
      font-size: fontSize(small, mobile);
    }
    @include xl {
      font-size: fontSize(small, desktop);
    }

    &--bold {
      font-weight: $font-weight-semi-bold;
    }
  }
}

p {
  @extend .body;
}
