@use 'sass:math';
@use 'sass:map';
@use '_fonts' as fonts;
@use '_breakpoints' as breakpoints;
@use '_functions' as functions;
@use '_colors' as colors;

@mixin respond($breakpoint) {
  // Mobile Small
  @if $breakpoint == MS {
    @media (max-width: 576px) {
      @content;
    }
  }

  // Mobile Large
  @if $breakpoint == ML {
    @media (max-width: 768px) {
      @content;
    }
  }

  // Table Portrait
  @if $breakpoint == TP {
    @media (max-width: 992px) {
      @content;
    }
  }

  // Table Landscape
  @if $breakpoint == TL {
    @media (max-width: 1200px) {
      @content;
    }
  }

  // Big Desktop
  @if $breakpoint == DL {
    @media (min-width: 1400px) {
      @content;
    }
  }
}

@mixin fontSize($size, $mobile-size: null, $tablet-size: null) {
  font-size: $size; // Alap fallback
  font-size: functions.calculateRem(fonts.$base-font-size-desktop, $size);

  @if $mobile-size {
    @include breakpoints.xs {
      font-size: $mobile-size;
      font-size: functions.calculateRem(fonts.$base-font-size-mobile, $mobile-size);
    }
  }

  @if $tablet-size {
    @include breakpoints.md {
      font-size: $tablet-size;
      font-size: functions.calculateRem(fonts.$base-font-size-tablet, $tablet-size);
    }
  }
}

@mixin xs {
  @media (min-width: map.get(breakpoints.$grid-breakpoints, 'xs')) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map.get(breakpoints.$grid-breakpoints, 'sm')) {
    @content;
  }
}

@mixin md {
  @media (min-width: map.get(breakpoints.$grid-breakpoints, 'md')) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map.get(breakpoints.$grid-breakpoints, 'lg')) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map.get(breakpoints.$grid-breakpoints, 'xl')) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: map.get(breakpoints.$grid-breakpoints, 'xxl')) {
    @content;
  }
}

@mixin breakpoint($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

//ezeket a mixineket ki kell váltani!!! következő 3at
@mixin mobil-menu-fonts {
  font-family: fonts.$font-family-secondary;
  font-size: x-large;
  font-weight: 800 !important;
}

@mixin desktop-menu-fonts {
  font-family: fonts.$font-family-secondary;
  font-size: xx-large;
  font-weight: 900;
}

@mixin desktop-submenu-fonts {
  font-family: fonts.$font-family-secondary;
  font-size: x-large;
  font-weight: 600;
  text-transform: lowercase;
  color: colors.$color-shades-white;
}
