@use "sass:math";

// Items positions
$navbar-items-margin: 16px;

// Spacing
$base-padding: 1rem;
$base-margin: 1rem;
$base-margin-items: 20px;

// Borders
$base-border-thickness: 1px;
$base-border-radius: 4px;
