---
import { getCollection } from 'astro:content';

const galleries = await getCollection('imageGallery');

const allTags = galleries.flatMap((g) => g.data.tags).filter(Boolean);
const uniqueTags = Array.from(new Set(allTags)).sort();

const slugify = (str) => encodeURIComponent(str);
---

<div class="body mt-20px">
    {
        uniqueTags.length > 0 && (
            <div class="display-flex gap-0_5rem flex-wrap mb-20px">
                {uniqueTags.map((tag) => (
                    <div class="gallery__tag">
                        {' '}
                        <a href={`/galeria/tag/${slugify(tag)}`} class="clr-shades-gray">
                            #{tag}
                        </a>
                    </div>
                ))}
            </div>
        )
    }
</div>
