---
const { tags = [] } = Astro.props;
---

{
    tags.length > 0 && (
        <div class="display-flex gap-0_5rem flex-wrap body mb-20px">
            {tags.map((tag) => (
                <div class="gallery__tag">
                    <span class="clr-shades-gray">#{tag}</span>
                </div>
            ))}
        </div>
    )
}
