@import '/src/sass/base/_mixins';

.event-card__image {
  grid-area: A;
  @include xs {
    width: 200px;
    height: auto;
  }
  @include md {
    width: 220px;
  }
  @include xl {
    width: 250px;
  }
}

.event-card__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.event-card__details > p,
.event-card__details > h2,
.event-card__details > a:not(.event-card__actions a) {
  margin-bottom: 0; /* Eltávolítja az alapértelmezett margókat */
}

.event-card__actions {
  margin-top: auto; /* Ez tolja le a jelentkezés gombot tartalmazó div-et az aljára */
}

.event-card__content {
  h2 {
    max-width: 250px;
  }
}
