@import '/src/sass/base/_colors';

.event-card {
  border: solid 2px $color-shades-lightBlack;
  border-radius: 2px;
}

.event-card__content {
  padding: 20px;
}

.event-card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.event-card__header {
  height: 180px;
}
.event-card__date {
  margin-bottom: 4px;
}

.event-card__image {
  display: flex;
  align-items: flex-end;

  img {
    @include xs {
      width: 60px;
      height: 60px;
    }
  }
}

.event-card__button {
  display: flex;
  align-items: flex-end;
}
