@import '/src/sass/base/_colors';

.blog__container {
  display: flex;
  flex-direction: column;
}

.blog__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .blog__content {
    flex-direction: row;
  }
}

.blog__main {
  flex: 1;
}

.blog__sidebar {
  position: sticky;
  top: 80px;
  height: fit-content;
  flex: 0 0 250px;

  overflow-y: auto;
  margin: 40px 0 0 20px;
  // Scrollbar eltávolítása minden böngészőben
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.blog__sidebar::-webkit-scrollbar {
  display: none;
}

.blog__post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.blog__post-wrapper {
  &:not(:last-child) {
    border-bottom: 1px solid $color-shades-lightBlack;
    padding-bottom: 10px;
    margin-bottom: 24px;
  }
}

.blog__tags--mobile {
  margin-top: 40px;
}

.blog__tags-title {
  margin-bottom: 20px;
}

.blog__separator-horizontal {
  height: 1px;
  width: 100%;
  background-color: $color-shades-lightBlack;
  margin-top: 40px;
}

.blog__popular-posts {
  margin-top: 40px;
}

.blog__popular-title {
  margin-bottom: 20px;
}
