@import '/src/sass/global';

/* Alapértelmezetten elrejtjük a tab tartalmat */
.tab-content {
  display: none;
}

/* Csak az aktív tartalom látható */
.tab-content.--is-active {
  display: block;
}

/* Aktív tab stílus */
.tab-item.--is-active {
  border-bottom: 3px solid orange;
  color: orange;
}

.tab-list {
  display: flex;
  justify-content: space-between; /* A két <li> a bal és jobb szélekhez igazodik */
  padding: 0;
  list-style: none; /* Eltüntetjük a listajeleket */
  border-bottom: 1px solid $color-shades-lightBlack; /* Aláhúzás a tabok alatt */
}

/* Tabok alap stílusok */
.tab-item {
  cursor: pointer;
  display: inline-block;
  h3 {
    font-weight: 400;
  }
}
