@use '/src/sass/base/_colors' as colors;

/* Gyökér overlay konténer */
.login-root {
  position: relative;
  min-height: 100dvh;
  width: 100vw;
  overflow: hidden;

  > * {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}

/* A Matrix hátul */
.Matrix {
  z-index: 1;
}

/* A dialog overlay réteg, flex-szel középre igazítva */
.dialog-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}

/* Maga a dialog doboz */
.login-dialog {
  position: relative;
  pointer-events: all;
  margin: 0;
  min-width: 240px;
  max-width: 420px;
  width: 100%;
  // background-color: colors.$color-shades-gray;
  background-color: colors.$color-shades-black;
  // color: colors.$color-shades-gray;
  padding: 2.2rem 2.5rem 2rem 2.5rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fira Mono', 'Consolas', monospace;
}

.login-dialog .align-left {
  align-self: flex-start;
  text-align: left;
  width: 100%;
}

@media (max-width: 400px) {
  .login-dialog {
    min-width: unset;
    width: 96vw;
    padding: 1.5rem 1.25rem 1.4rem;
  }
}
