@import '/src/sass/base/_colors';

.schedule__date-wrapper {
  height: 3rem;
  margin-bottom: 1rem;
}

.schedule__details-time {
  margin-bottom: 0.5rem;
}

.schedule__date-day svg {
  margin-left: 8px;
}

/* Creates a horizontal separator line after each schedule item except the last one */

.schedule__details {
  position: relative;
  margin-bottom: 1rem;
}

.schedule__details:not(:last-child) {
  padding-bottom: 1rem;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-shades-lightBlack;
  }
}

.schedule__details-title {
  padding-right: 1rem;
}
