@import '/src/sass/base/_colors';
@import '/src/sass/base/_fonts';

.textarea-label {
  display: none; /* Elrejtjük a label szövegét, ha nincs rá szükség */
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  padding: 12px 16px;
  font-family: $font-family-secondary;
  font-weight: 600;
  background: transparent;
  color: $color-shades-lightGray;
  box-shadow: 0px 0px 0px 2px $color-shades-lightGray inset;
  resize: vertical;

  &:focus {
    box-shadow: 0px 0px 0px 2px $color-brand-orange inset;
    color: $color-brand-orange;
  }

  //   &:hover {
  //     box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  //   }

  //   &:invalid {
  //     border-color: #dc3545;
  //     background-color: #f8d7da;
  //     color: #721c24;
  //   }

  //   &:valid {
  //     border-color: #28a745;
  //     background-color: #d4edda;
  //     color: #155724;
  //   }

  //   &:disabled {
  //     background-color: #e9ecef;
  //     color: #6c757d;
  //     cursor: not-allowed;
  //     border-color: #ced4da;
  //   }

  //   &::placeholder {
  //     color: red !important;
  //     font-style: italic;
  //   }

  //   &:placeholder-shown {
  //     font-style: italic;
  //     color: red !important;
  //   }
}
