@use '/src/sass/base/_colors' as colors;
@use '/src/sass/base/_fonts' as fonts;

.textarea-label {
  display: none; /* Elrejtjük a label szövegét, ha nincs rá szükség */
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  padding: 12px 16px;
  font-family: fonts.$font-family-secondary;
  font-weight: 600;
  background: transparent;
  color: colors.$color-shades-lightGray;
  box-shadow: 0px 0px 0px 2px colors.$color-shades-lightGray inset;
  resize: vertical;

  &:focus {
    box-shadow: 0px 0px 0px 2px colors.$color-brand-orange inset;
    color: colors.$color-brand-orange;
  }
}
