@use '/src/sass/base/_colors' as colors;

.custom-checkbox {
  display: flex;
  gap: 0.5em; // Kisebb térköz a checkbox és a szöveg között

  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid currentColor;
    display: inline-grid;
    place-content: center;
    margin-right: 10px;
    cursor: pointer;
    transition:
      background-color 100ms ease-in-out,
      border-color 100ms ease-in-out;

    &:checked {
      background-color: colors.$color-brand-orange;
      border-color: colors.$color-brand-orange;
    }
  }

  input[type='checkbox']::before {
    content: '';
    width: 1.2em;
    height: 1.2em;
    transform: scale(0);
    transition: transform 100ms ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }

  &.orange input[type='checkbox'] {
    color: colors.$color-brand-orange;
  }

  &.gray input[type='checkbox'] {
    color: colors.$color-shades-lightGray;
  }
}
