---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="J칩gair치nyzatok">
    <div class="container">
        <div class="row"><h1>J칩gair치nyzatok</h1></div>
    </div>
</Layout>

<style></style>
