---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="Recommended readings">
    <div class="container">
        <div class="row"><h1>Recommended readings</h1></div>
    </div>
</Layout>

<style></style>
