---
import Layout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');

const pageData = allPosts.filter((post) => post.data.language === 'English');
---

<Layout title="Blog">
    <div class="container">
        <div class="row">
            <h1>Blog</h1>
            <h3>edwedfew</h3>
            <p>
                {pageData.map((post) => post.data.title)}
            </p>
        </div>
    </div>
</Layout>
