---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="First time">
    <div class="container">
        <div class="row"><h1>First time</h1></div>
    </div>
</Layout>

<style></style>
