---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="House rules">
    <div class="container">
        <div class="row"><h1>House rules</h1></div>
    </div>
</Layout>

<style></style>
