@import '/src/sass/base/_colors';

.course-card {
  background-color: $color-shades-darkGray;

  &__wrapper {
    padding: 2rem;
  }
  &__teacher-section {
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-top: 1px solid $color-shades-lightBlack;
    border-bottom: 1px solid $color-shades-lightBlack;
  }
}
