@use '/src/sass/base/_colors' as colors;

.gallery-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  background-color: colors.$color-shades-darkGray;
  padding: 12px 12px;
  white-space: normal;
}

.gallery-title-row {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.gallery-tag {
  font-size: 0.9em;
  color: colors.$color-shades-gray;
}

.gallery-tag,
.gallery-tag p {
  color: colors.$color-shades-gray !important;
}

@media (max-width: 576px) {
  .gallery-card {
    max-width: 280px;
    white-space: normal; // Így engedi a sortörést!
    flex-wrap: wrap; // Plusz, ha a flexes tartalom törni akar!
  }
}
