---
export interface Props {
    title: string;
    year: string | number;
    slug: string;
    tags: string[];
    lang?: string;
}
import './_galleryCard.scss';

const { title, year, slug, tags, lang } = Astro.props;
---

<a href={`${lang === 'en' ? '/en' : ''}/galeria/${slug}`} class="gallery-card-link">
    <div class="gallery-card">
        <div class="gallery-title-row">
            <h4>{title}</h4>
            <span class="clr-brand-orange">{year}</span>
        </div>
        {
            tags && tags.length > 0 && (
                <div class="display-flex gap-0_5rem flex-wrap mt-1">
                    {tags.map((tag) => (
                        <span class="gallery-tag">
                            <p>#{tag}</p>
                        </span>
                    ))}
                </div>
            )
        }
    </div>
</a>
