@import '/src/sass/global';

#desktopMenu {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 100vh;
  top: 0;
  padding-top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: $offcanvas-menu-color;
  transition: all 500ms ease-out;
}

#desktopMenu.open {
  display: block;
  opacity: 1;
  visibility: visible;
}

.off-canvas-menu {
  display: grid;
  grid-template-columns:
    1fr minmax(auto, 230px) minmax(auto, 230px) minmax(auto, 230px)
    1fr;
  width: 100%;
}

.menu-item {
  padding: 10px;
}

#menu1 {
  grid-column: 2;
}

#menu2 {
  grid-column: 3;
}

#menu3 {
  grid-column: 4;
}

#desktopMenu .dropdown-menu__content {
  display: block;
}

#desktopMenu .dropdown-menu__content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#desktopMenu .dropdown-menu__content li {
  margin-bottom: 10px;
}

#desktopMenu .dropdown-menu__content a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  #desktopMenu {
    display: none !important;
  }
}
