@use '/src/sass/base/_colors' as colors;

.desktop-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 100vh;
  top: 0;
  padding-top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: colors.$offcanvas-menu-color;
  transition: all 500ms ease-out;

  &.open {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  &__off-canvas-menu {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(auto, 230px)) 1fr;
    width: 100%;
    gap: 90px;
  }

  &__item {
    padding: 10px;

    &:nth-child(1) {
      grid-column: 2;
    }

    &:nth-child(2) {
      grid-column: 3;
    }

    &:nth-child(3) {
      grid-column: 4;
    }
  }

  &__dropdown-menu-content {
    display: block;
  }

  &__dropdown-menu-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  // Almenü elemek közötti távolság állítása
  .desktop-menu__dropdown-menu-item {
    margin-bottom: 20px; // Ezzel növelheted a listán belüli elemek közötti távolságot
    cursor: pointer;
  }

  .desktop-menu__dropdown-menu-item:hover a {
    color: colors.$color-brand-orange;
  }

  #menu1 .desktop-menu__dropdown-menu-item,
  #menu2 .desktop-menu__dropdown-menu-item {
    color: colors.$color-shades-gray;
  }

  #menu1 .desktop-menu__dropdown-menu-content ul,
  #menu2 .desktop-menu__dropdown-menu-content ul {
    margin-top: 40px;
  }

  // Almenü elemek közötti elválasztó vonal
  #menu1 .desktop-menu__dropdown-menu-item:not(:last-child),
  #menu2 .desktop-menu__dropdown-menu-item:not(:last-child) {
    border-bottom: 1px solid colors.$color-shades-darkGray;
    padding-bottom: 10px;
  }

  #menu3 .desktop-menu__dropdown-menu-item h3 {
    font-size: 2rem;
    color: colors.$color-shades-white;
    font-weight: 800;
  }

  &__dropdown-menu-item {
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__label {
    font-size: 2rem;
    color: colors.$color-shades-white;
    font-weight: 800;
  }
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none !important;
  }
}
