@import '/src/sass/global';

@keyframes scaleProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.progress-bar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  animation: scaleProgress linear;
  animation-timeline: scroll();
  transform-origin: left;
  background-color: #b45309;
}
