---
import { getMobileMenuHeader } from '../data/menuData.js';
import { useTranslations, useTranslatedPath } from '../../../i18n/index.ts';

const currentUrl = Astro.url.pathname;
const language = currentUrl.startsWith('/en/') || currentUrl === '/en' ? 'en' : 'hu';

const t = useTranslations(language);
const translatePath = useTranslatedPath(language);
const mobileMenuHeaderItems = getMobileMenuHeader(translatePath, t);
---

<div class="mobile-menu mobile-menu--header" data-language={language}>
    {
        mobileMenuHeaderItems.map((item) => (
            <a href={item.link} class="mobile-menu-header__link btn btn--secondary--outline">
                {item.label}
            </a>
        ))
    }
</div>
