---
import './_mobilMenu.scss';
---

<div class="mobile-menu mobile-menu--footer">
    <a href="/tanfolyam" class="btn btn--secondary--outline">TANFOLYAMOK</a>
    <a href="/osztondij" class="btn btn--secondary--outline">ÖSZTÖNDÍJ</a>
</div>
