---
import './_mobilMenu.scss';
---

<div class="mobile-menu mobile-menu--header">
    <a href="/orarend" class="btn btn--secondary--outline">ÓRAREND</a>
    <a href="/astanga-mysore-program" class="btn btn--secondary--outline">ASTANGA MYSORE-PROGRAM</a>
</div>
