@import '/src/sass/base/_breakpoints';

.section-scholarship {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @include xs {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  &__background {
    position: absolute;
    width: 670px;
    height: 100%;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    padding: 20px;

    @include xs {
      width: 100%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 600px;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}
