@use '/src/sass/base/_fonts' as fonts;
@use '/src/sass/base/_breakpoints' as breakpoints;

.section-about {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      max-width: 600px;
    }
    svg {
      width: 100%;
      max-width: 300px;
      height: auto;

      @media (max-width: 320px) {
        max-width: 260px; // Kisebb SVG kis képernyőkön
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // margin-top: 40px már kikommentezve
  }

  &__tradition {
    margin-top: 20px;
    &--gray-border {
      border: 1px solid gray;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoints.xs {
      margin: 20px;
    }
    @include breakpoints.sm {
      margin: 30px;
    }
    @include breakpoints.md {
      margin: 40px;
    }

    h3 {
      font-family: fonts.$font-family-primary;
    }

    p {
      width: fit-content;
      text-align: center;
    }

    // Új szabály a SharatJiHandWriting SVG-re
    svg {
      max-width: 150px;
      width: 100%;

      @media (max-width: 320px) {
        max-width: 120px; // Még kisebb kis képernyőkön
      }
    }
  }
}

// Az általános max-width-150 osztály javítása
.max-width-150 {
  max-width: 150px !important;
  width: 100% !important;

  @media (max-width: 320px) {
    max-width: 120px !important;
  }
}
