@use '/src/sass/base/_breakpoints' as breakpoints;
@use '/src/sass/base/_utilities' as utilities;
@use '/src/sass/base/_buttons' as buttons;

.section-mysore-program {
  &__wrapper {
    @include breakpoints.xl {
      padding-block: 56px;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    z-index: 2;

    @include breakpoints.xs {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    @include breakpoints.md {
      img {
        width: 200px;
        height: 200px;
      }
    }

    @include breakpoints.lg {
      img {
        width: 260px;
        height: 260px;
      }
    }

    @include breakpoints.xl {
      img {
        width: 320px;
        height: 320px;
      }
    }

    @include breakpoints.xxl {
      img {
        width: 360px;
        height: 360px;
      }
    }
  }

  &__text {
    max-width: 732px;
    margin-top: 20px;

    @include breakpoints.xs {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @include breakpoints.md {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
