@import '/src/sass/global';

.section--osztondij {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @include xs {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.section--osztondij--background {
  position: absolute;
  /* top: 0;
    left: 0; */
  width: 670px;
  height: 100%;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.section--osztondij--text {
  max-width: 600px;
}

.section--osztondij--wrapper {
  position: relative;
  z-index: 1;
  padding: 20px;

  @include xs {
    width: 100%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}
