---
import Icons from '../Icons/Icons.astro';
import Counter from '../Counter/Counter';
import { useTranslations, getLangFromUrl } from '../../i18n/utils';
import './_sectionAbout.scss';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const isEnglish = lang === 'en';
const sectionAboutTraditionText = t('sectionAboutTraditionText')();
---

<section class="section-about">
    <div class="container section-about__container">
        <div class="section-about__content">
            <div class="row">
                {isEnglish ? <Icons name="NamasteEnglish" /> : <Icons name="Namaste" />}
                <div class="section-about__text text-center mt-40px">
                    <p>
                        {t('sectionAboutText')}
                    </p>
                    <a
                        href={t('sectionAboutLink')}
                        class="btn btn--width-full-mobile btn--primary--outline mt-20px"
                        aria-label="Tudj meg többet rólunk gomb"
                    >
                        {t('sectionAboutButton')}
                    </a>
                    <div class="section-about__tradition section-about__tradition--gray-border mt-20px">
                        <div class="section-about__wrapper">
                            <h1 class="mb-20px font-family-primary">{t('sectionAboutTradition')}</h1>
                            <div class="mb-20px">
                                <Counter client:only="react" language={lang === 'en' ? 'eng' : 'hu'} />
                            </div>
                            <p class="mb-20px" set:html={sectionAboutTraditionText} />
                            <Icons name="SharatJiHandWriting" class="max-width-150" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
