---
import { Image } from 'astro:assets';
import sharathJi from '../../images/sharath_ji_bw.jpg';
import './_sectionParampara.scss';
---

<section class="section--parampara mt-40px">
    <div class="container-fluid bg-shades-darkGray">
        <div class="container section--parampara--wapper">
            <div class="row">
                <div class="col-12-xs col-4-md section--parampara--image">
                    <Image src={sharathJi} alt="Paramaguru Sharath Jois" />
                </div>
                <div class="col-12-xs col-8-md section--parampara-text">
                    <h2 class="mb-20px heading heading--1 text-align-left">Bandha Works Parampara</h2>
                    <p>
                        A parampara a tudás, amelyet a tanár a tanítványára hagyományoz. A parampara szanszkrit szó
                        jelentése a tudás átadásának legértékesebb formáját, a közvetlen és tapasztalati tudás átadását
                        fejezi ki. A jógatanításnak a paramparaból kell származnia ahhoz, hogy hatékony, igaz és teljes
                        legyen.
                    </p>
                    <a href="/parampara" class="btn btn--full-width-mobile btn--primary--outline mt-20px">
                        Tanítói láncolatunk
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
