---
import Icons from '../Icons.astro';
import Counter from '../../components/Counter';
import './_sectionAbout.scss';
---

<section class="section-about">
    <div class="section-about__container container">
        <div class="section-about__content">
            <Icons name="Namaste" />
            <div class="section-about__text text-center mt-40px">
                <p>
                    A Bandha Works Jógaiskolát 2013-ban három mérnök alapította, akiket összekötött azon törekvés, hogy
                    a tradicionális astanga vinyásza jógát népszerűsítsék, oktassák Magyarországon. Több mint tíz év
                    elteltével a helyzet mit sem változott, oktatóink elkötelezett gyakorlói az irányzatnak, és
                    rendszeresen, az astanga jóga fővárosába, a dél-indiai Mysore-ba utaznak, hogy tovább mélyítsék
                    tudásuk, megértésük.
                </p>
                <a href="/rolunk" class="btn btn--full-width-mobile btn--primary--outline mt-20px">
                    Tudj meg többet rólunk
                </a>
                <div class="section-about__tradition section-about__tradition--gray-border mt-20px">
                    <div class="section-about__wrapper">
                        <h3 class="mb-20px font-family-primary">TRADÍCIÓ</h3>
                        <div class="mb-20px"><Counter client:only="react" language={Astro.currentLocale} /></div>
                        <p class="mb-20px">
                            Magyarország legrégebbi <br />astanga Mysore-programja<br />
                            <strong>Paramaguru Sharath Jois</strong> áldásával
                        </p>
                        <Icons name="SharatJiHandWriting" class="max-width-150" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
