---
import { Image } from 'astro:assets';
import mysoreProgram from '../../images/mysore_program_bw.jpg';
import { useTranslations, getLangFromUrl } from '../../i18n/utils';
import './_sectionMysoreProgram.scss';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="section-mysore-program mt-40px">
    <div class="container section-mysore-program__wrapper">
        <div class="row">
            <div class="col-12-xs col-4-md section-mysore-program__image full-width-mobile">
                <Image src={mysoreProgram} alt="Ashtanga Mysore Program" />
            </div>
            <div class="col-12-xs col-8-md section-mysore-program__text">
                <h2 class="mb-20px heading heading--1 text-align-left">{t('sectionMysoreProgramTitle')}</h2>
                <p>
                    {t('sectionMysoreProgramText')}
                </p>
                <a
                    href={t('sectionMysoreProgramLink')}
                    class="btn btn--full-width-mobile btn--primary--outline mt-20px"
                    aria-label="{t('sectionMysoreProgramButton')}"
                >
                    {t('sectionMysoreProgramButton')}
                </a>
            </div>
        </div>
    </div>
</section>
