---
import Icons from '../Icons.astro';
---

<section class="section--about">
    <div class="container">
        <div class="section--about-content">
            <Icons name="Namaste" />
            <div class="row section--about-content text-center mt-40px">
                <p>
                    A Bandha Works Jógaiskolát 2013-ban három mérnök alapította, akiket összekötött azon törekvés, hogy
                    a tradicionális astanga vinyásza jógát népszerűsítsék, oktassák Magyarországon. Több mint tíz év
                    elteltével a helyzet mit sem változott, oktatóink elkötelezett gyakorlói az irányzatnak, és
                    rendszeresen, az astanga jóga fővárosába, a dél-indiai Mysore-ba utaznak, hogy tovább mélyítsék
                    tudásuk, megértésük.
                </p>
                <a href="/rolunk" class="btn btn--full-width-mobile btn--primary--outline mt-20px">
                    Tudj meg többet rólunk
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    .section--about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            max-width: 600px;
        }

        svg {
            max-width: 300px;
        }
    }
</style>
