---
import plus_sign from "../../images/svg/plus_sign.svg?raw";
import "../../sass/components/_mobilMenu.scss";
---

<div class="container-fluid" id="mobileMenu">
    <div>
        <div class="dropdown-menu" id="toggle-jogaorak">
            <h3 id="jogaorak-label">JÓGAÓRÁK</h3>
            <Fragment set:html={plus_sign} />
        </div>
        <div id="jogaorak" class="dropdown-menu__content"></div>
    </div>
    <div>
        <div class="dropdown-menu" id="toggle-tudnivalok">
            <h3 id="tudnivalok-label">TUDNIVALÓK</h3>
            <Fragment set:html={plus_sign} />
        </div>
        <div id="tudnivalok" class="dropdown-menu__content"></div>
    </div>
    <div id="fomenuItems"></div>
</div>

<script>
    import { useTranslations, useTranslatedPath } from "../../i18n/utils.js";
    import {
        getMenuItemsJogaorak,
        getMenuItemsTudnivalok,
        getMenuItemsFomenu,
    } from "./menuData";

    const language = window.location.href.includes("en") ? "en" : "hu";

    const t = useTranslations(language);
    const translatePath = useTranslatedPath(language);
    const menuItemsJogaorak = getMenuItemsJogaorak(translatePath, t);
    const menuItemsTudnivalok = getMenuItemsTudnivalok(translatePath, t);
    const menuItemsFomenu = getMenuItemsFomenu(translatePath, t);

    const jogorakList = document.getElementById("jogaorak");
    const tudnivalokList = document.getElementById("tudnivalok");
    const fomenuItems = document.getElementById("fomenuItems");
    const jogorakToggle = document.getElementById("toggle-jogaorak");
    const tudnivalokToggle = document.getElementById("toggle-tudnivalok");

    const jogaorakLabel = document.getElementById("jogaorak-label");
    const tudnivalokLabel = document.getElementById("tudnivalok-label");

    if (jogaorakLabel) {
        jogaorakLabel.textContent = t("jogaorak");
    }

    if (tudnivalokLabel) {
        tudnivalokLabel.textContent = t("tudnivalok");
    }

    if (jogorakToggle) {
        jogorakToggle.addEventListener("click", () => {
            if (jogorakList) {
                jogorakList.classList.toggle("show");
            }
        });
    }

    if (tudnivalokToggle) {
        tudnivalokToggle.addEventListener("click", () => {
            if (tudnivalokList) {
                tudnivalokList.classList.toggle("show");
            }
        });
    }

    // Jógaórák menüelemek hozzáadása
    if (jogorakList) {
        menuItemsJogaorak.forEach((link) => {
            const listItem = document.createElement("li");
            const anchor = document.createElement("a");

            anchor.href = link.link;
            anchor.textContent = link.label;
            listItem.appendChild(anchor);
            jogorakList.appendChild(listItem);
        });
    }

    // Tudnivalók menüelemek hozzáadása
    if (tudnivalokList) {
        menuItemsTudnivalok.forEach((link) => {
            const listItem = document.createElement("li");
            const anchor = document.createElement("a");

            anchor.href = link.link;
            anchor.textContent = link.label;
            listItem.appendChild(anchor);
            tudnivalokList.appendChild(listItem);
        });
    }

    if (fomenuItems) {
        menuItemsFomenu.forEach((item) => {
            const listItem = document.createElement("li");
            const anchor = document.createElement("a");
            const header = document.createElement("h3"); // H3 elem létrehozása

            anchor.href = item.link;
            anchor.textContent = item.label;

            header.appendChild(anchor); // Az 'a' elem hozzáadása az 'h3' elemhez
            listItem.appendChild(header); // Az 'h3' elem hozzáadása az 'li' elemhez
            fomenuItems.appendChild(listItem);
        });
    }
</script>
