---
import brand_logo from "../../images/svg/brand_logo.svg?raw";
import brand_logo_text from "../../images/svg/brand_logo_text.svg?raw";
import LanguagePicker from "../LanguagePicker.astro";
import "../../sass/components/_navbarTwo.scss";

const isEnglish = Astro.url.pathname.includes("/en");
const hrefValue = isEnglish ? "/en/" : "/";
---

<header>
    <div class="container-fluid">
        <nav>
            <a
                href={hrefValue}
                class="logo-link"
                aria-label="Ez itt a brandlogo. Ha rákattintasz elvisz a kezdőlapra."
            >
                <div class="brand-logo-wrapper">
                    <Fragment set:html={brand_logo} />
                    <Fragment set:html={brand_logo_text} />
                </div></a
            >

            <div class="hamburger--container">
                <LanguagePicker />
                <div id="hamburger" class="hamburger hamburger-closed">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </nav>
        <div class="container" id="menu"></div>
    </div>

    <script>
        import {
            useTranslations,
            useTranslatedPath,
        } from "../../i18n/utils.js";
        import {
            getMenuItemsJogaorak,
            getMenuItemsTudnivalok,
            getMenuGroupsFomenu,
            getMenuItemsFomenu,
        } from "./menuData";

        const language = window.location.href.includes("en") ? "en" : "hu";

        const t = useTranslations(language);
        const translatePath = useTranslatedPath(language);
        const menuItemsJogaorak = getMenuItemsJogaorak(translatePath, t);
        const menuItemsTudnivalok = getMenuItemsTudnivalok(translatePath, t);

        const menuList = document.getElementById("menu");
        if (menuList) {
            menuItemsJogaorak.forEach((link) => {
                const listItem = document.createElement("li");
                const anchor = document.createElement("a");

                anchor.href = link.link;
                anchor.textContent = link.label;
                listItem.appendChild(anchor);
                menuList.appendChild(listItem);
            });

            menuItemsTudnivalok.forEach((link) => {
                const listItem = document.createElement("li");
                const anchor = document.createElement("a");

                anchor.href = link.link;
                anchor.textContent = link.label;
                listItem.appendChild(anchor);
                menuList.appendChild(listItem);
            });
        }

        const hamburgerMenu = document.getElementById("hamburger");

        if (hamburgerMenu) {
            hamburgerMenu.addEventListener("click", function () {
                if (hamburgerMenu.classList.contains("hamburger-closed")) {
                    hamburgerMenu.classList.remove("hamburger-closed");
                    hamburgerMenu.classList.add("hamburger-open");
                } else {
                    hamburgerMenu.classList.remove("hamburger-open");
                    hamburgerMenu.classList.add("hamburger-closed");
                }
                menuList?.classList.toggle("open");
            });
        }
    </script>
</header>
