---
// import logo from "../../images/logo.svg";
// import logotext from "../../images/logo_text.svg";
import Icon from "../Icon.astro";
import logo2 from "../../images/logo.svg?raw";
import LanguagePickerAstro from "../LanguagePickerAstro.astro";
import "../../sass/components/_navbarTwo.scss";

const test = Astro.currentLocale;

console.log(test);
---

<header>
    <div class="container-fluid">
        <nav>
            <div class="logo-wrapper">
                <!-- <img
                    src={logo.src}
                    alt="bandha works logo"
                    class="navbar-logo"
                />
                <img
                    src={logotext.src}
                    alt="bandha works logo"
                    class="navbar-logo"
                /> -->
                <Icon name="bw_round_logo" />
                <Icon name="logo_text" />
                <Fragment set:html={logo2} />
                <!-- <Icon name="logo_text" /> -->
            </div>
            <!-- <div class="hamburger"> -->

            <div><LanguagePickerAstro /></div>
            <div class="hamburger--container">
                <div id="hamburger" class="hamburger hamburger-closed">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <!-- </div> -->
        </nav>
        <div class="container" id="menu"></div>
    </div>

    <script>
        import {
            useTranslations,
            useTranslatedPath,
        } from "../../i18n/utils.js";
        import {
            getMenuItemsJogaorak,
            getMenuItemsTudnivalok,
            getMenuGroupsFomenu,
            getMenuItemsFomenu,
        } from "./menuData";

        const language = window.location.href.includes("en") ? "en" : "hu";

        console.log(window.location);
        const t = useTranslations(language);
        const translatePath = useTranslatedPath(language);
        const menuItemsJogaorak = getMenuItemsJogaorak(translatePath, t);
        const menuItemsTudnivalok = getMenuItemsTudnivalok(translatePath, t);

        const menuList = document.getElementById("menu");
        if (menuList) {
            menuItemsJogaorak.forEach((link) => {
                const listItem = document.createElement("li");
                const anchor = document.createElement("a");

                anchor.href = link.link;
                anchor.textContent = link.label;
                listItem.appendChild(anchor);
                menuList.appendChild(listItem);
            });

            menuItemsTudnivalok.forEach((link) => {
                const listItem = document.createElement("li");
                const anchor = document.createElement("a");

                anchor.href = link.link;
                anchor.textContent = link.label;
                listItem.appendChild(anchor);
                menuList.appendChild(listItem);
            });
        }

        const hamburgerMenu = document.getElementById("hamburger");

        if (hamburgerMenu) {
            hamburgerMenu.addEventListener("click", function () {
                if (hamburgerMenu.classList.contains("hamburger-closed")) {
                    hamburgerMenu.classList.remove("hamburger-closed");
                    hamburgerMenu.classList.add("hamburger-open");
                } else {
                    hamburgerMenu.classList.remove("hamburger-open");
                    hamburgerMenu.classList.add("hamburger-closed");
                }
                menuList?.classList.toggle("open");
                console.log("clicked");
            });
        }
    </script>
</header>
