---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Aj치nlott olvasm치nyok';
---

<BaseLayout title={pageTitle}>
    <div class="container">
        <div class="row"><h1>Aj치nlott olvasm치nyok</h1></div>
    </div>
</BaseLayout>

<style></style>
