---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aj치nlott olvasm치nyok">
    <div class="container">
        <div class="row"><h1>Aj치nlott olvasm치nyok</h1></div>
    </div>
</Layout>

<style></style>
