---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Árak">
    <div class="container">
        <div class="row"><h1>Árak</h1></div>
    </div>
</BaseLayout>

<style></style>
