---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Astanga Mysore program">
    <div class="container">
        <div class="row"><h1>Astanga Mysore program</h1></div>
    </div>
</BaseLayout>

<style></style>
