---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Astanga-Mysore program';
---

<BaseLayout title={pageTitle}>
    <div class="container">
        <div class="row"><h1>Astanga Mysore program</h1></div>
    </div>
</BaseLayout>

<style></style>
