---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle = 'BLOG';
const allPosts = await Astro.glob('../pages/blog/posts/*.md');
---

<BaseLayout title={pageTitle}>
    <div class="container">
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </div>
</BaseLayout>
