---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
    <div class="container">
        <div class="row"><h1>Blog</h1></div>
    </div>
</Layout>

<!-- Include the script that builds the page and powers Decap CMS -->
<script src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>
