---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Első alkalom">
    <div class="container">
        <div class="row"><h1>Első alkalom</h1></div>
    </div>
</Layout>

<style></style>
