---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Bandha Works">
    <h1>Welcome to Bandha Land</h1>
    <p>The site is under development.</p>
    <a href="/ui-library">Here you can find our UI library.</a>
</Layout>

<style></style>
