---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Kapcsolat';
---

<BaseLayout title={pageTitle}>
    <div class="container">
        <div class="row"><h1>{pageTitle}</h1></div>
    </div>
</BaseLayout>

<style></style>
