---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Letöltések">
    <div class="container">
        <div class="row"><h1>Letöltések</h1></div>
    </div>
</Layout>

<style></style>
