---
import LinktrLayout from '../layouts/LinktrLayout.astro';
import Icons from '../components/Icons/Icons.astro';

const metadata = {
    title: 'LINKTR',
    description: 'Itt olvashatsz Fehér Panniról, a Bandha Works művészeti vezetőjéről.',
};

const links = [
    { label: 'Weboldalam', href: 'https://example.com' },
    { label: 'Instagram', href: 'https://instagram.com/teprofilod' },
    { label: 'Kapcsolat', href: 'mailto:valaki@example.com' },
];
---

<LinktrLayout title={metadata.title} description={metadata.description} language="Hungarian">
    <div class="linktr-container display-flex display-flex--direction-column align-items-center mt-40px">
        <Icons name="BwSymbol" color="white" />
        <h3 class="mt-20px mb-20px">@bandha.works</h3>
        <div class="links">
            {
                links.map((link) => (
                    <a href={link.href} class="link-btn">
                        {link.label}
                    </a>
                ))
            }
        </div>
    </div>
</LinktrLayout>
