---
import Matrix from '../components/Matrix/Matrix.astro';
import LoginLayout from '../layouts/LoginLayout.astro';
import '../sass/pages/_login.scss';

const metadata = {
    title: 'LOGIN',
    description: 'Ezen az oldalon tudsz bejelentkezni a Bandha Works jógastúdió oldalára.',
};
---

<LoginLayout title={metadata.title} description={metadata.description}>
    <div class="login-root container">
        <Matrix style="matrix" color="color-one" />
        <div class="dialog-overlay container">
            <dialog class="login-dialog" open>
                <h3 class="mb-20px align-left">Only Way Out is logIN</h3>
                <form id="login-form" class="login-form">
                    <input type="text" name="identifier" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <button type="submit" class="login-btn">Login</button>
                </form>
            </dialog>
        </div>
    </div>
</LoginLayout>

<script>
    import { actions } from 'astro:actions';

    const form = document.querySelector('#login-form') as HTMLFormElement | null;

    form?.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(form as HTMLFormElement);
        const identifier = formData.get('identifier');
        const password = formData.get('password');

        const userData = new FormData();
        userData.append('identifier', identifier);
        userData.append('password', password);

        const { data, error } = await actions.login(userData);

        console.log({ identifier, password });
        console.log({ data, error });
    });
</script>
