---
import Typewriter from '../components/Typewriter/Typewriter.astro';
---

<div>
    <Typewriter textArray={['Hello Mr. Ferran!|Válasz első sor', 'Második kérdés?|Második válasz']} />
</div>

<style>
    body {
        background-color: #333;
    }
</style>
