---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title="Órarend">
    <div class="container">
        <div class="row"><h1>{t('orarend')}</h1></div>
    </div>
</BaseLayout>

<style></style>
