---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Ösztöndíj';
---

<BaseLayout title={pageTitle}>
    <div class="container">
        <div class="row"><h1>Ösztöndíj</h1></div>
    </div>
</BaseLayout>

<style></style>
