<!-- ---
import '../sass/components/_button.scss';

export interface Props {
    id?: string;
    buttonStyle: string;
    className?: string;
    type?: 'button' | 'submit';
    url?: string;
}

const { type = 'button', buttonStyle, className = '', url = '' } = Astro.props;

const STYLES = [
    'btn--primary--solid',
    'btn--primary--solid--full',
    'btn--plain--naked',
    'btn--secondary--solid',
    'btn--secondary--solid--full',
    'btn--secondary--outline',
    'btn--third--solid',
    'btn--third--outline',
    'btn--third--naked-orange',
    'btn--primary--outline',
    'btn--primary--outline-full',
    'btn--small--outline',
];

const checkButtonStyle = STYLES.includes(buttonStyle) ? buttonStyle : STYLES[0];
---

<button type={type} class={`btn ${checkButtonStyle} ${className}`} data-url={url}>
    <slot />
</button> -->
