---
import '../sass/components/_button.scss';

export interface Props {
    id?: string;
    buttonStyle:
        | 'btn--primary--solid'
        | 'btn--primary--solid--full'
        | 'btn--plain--naked'
        | 'btn--secondary--solid'
        | 'btn--secondary--solid--full'
        | 'btn--secondary--outline'
        | 'btn--third--solid'
        | 'btn--third--outline'
        | 'btn--third--naked-orange'
        | 'btn--primary--outline'
        | 'btn--primary--outline-full'
        | 'btn--small--outline';
    className?: string;
    type?: 'button' | 'submit';
}

const { id, type = 'button', buttonStyle, className = '' } = Astro.props;

const STYLES = [
    'btn--primary--solid',
    'btn--primary--solid--full',
    'btn--plain--naked',
    'btn--secondary--solid',
    'btn--secondary--solid--full',
    'btn--secondary--outline',
    'btn--third--solid',
    'btn--third--outline',
    'btn--third--naked-orange',
    'btn--primary--outline',
    'btn--primary--outline-full',
    'btn--small--outline',
];

const checkButtonStyle = STYLES.includes(buttonStyle) ? buttonStyle : STYLES[0];
---

<button id={id} class={`btn ${checkButtonStyle} ${className}`}><slot /></button>
