---
import type { ImageMetadata } from 'astro';
import { getImage } from 'astro:assets';

interface Props {
    mobileImgUrl: string | ImageMetadata;
    desktopImgUrl: string | ImageMetadata;
    alt: string;
}

const { mobileImgUrl, desktopImgUrl, alt } = Astro.props;

const mobileImg = await getImage({
    src: mobileImgUrl,
    format: 'webp',
    width: 1080,
    height: 1080,
});

const desktopImg = await getImage({
    src: desktopImgUrl,
    format: 'webp',
    width: 1800,
    height: 550,
});
---

<div class="hero-image">
    <picture>
        <source media="(max-width: 799px)" srcset={mobileImg.src} />
        <source media="(min-width: 800px)" srcset={desktopImg.src} />
        <img src={desktopImg.src} alt={alt} />
    </picture>
</div>

<style>
    .hero-image {
        img {
            width: 100%;
            height: auto;
        }
    }
</style>
