---
import { languages } from "../i18n/ui";
import { useTranslatedPath } from "../i18n/utils";
import language_HU from "../images/svg/language_HU.svg?raw";
import language_EN from "../images/svg/language_EN.svg?raw";
import "../sass/components/_languagePicker.scss";

const currentLanguage = Astro.currentLocale;
---

<div>
    {
        Object.entries(languages).map(([lang, { shortName }]) => {
            if (currentLanguage === lang) return;

            const translatePath = useTranslatedPath(lang);
            const path = translatePath(Astro.url.pathname);

            return (
                <div id="language-picker">
                    <a
                        href={path}
                        class="link-class"
                        aria-label="Itt választhatsz nyelvet. Angol vagy magyar nyelvek közül választhatsz. You can choose your language here. You can choose between English or Hungarian."
                    >
                        {shortName === "HU" ? (
                            <Fragment set:html={language_HU} />
                        ) : (
                            <Fragment set:html={language_EN} />
                        )}
                    </a>
                </div>
            );
        })
    }
</div>
