---
import { languages } from "../i18n/ui";
import { useTranslatedPath } from "../i18n/utils";
import language_HU from "../images/svg/language_HU.svg?raw";
import language_EN from "../images/svg/language_EN.svg?raw";
import "../sass/components/_languagePicker.scss";


const currentLanguage = Astro.currentLocale;
---

<div>
    {
        Object.entries(languages).map(([lang, { name, shortName }]) => {
            if (currentLanguage === lang) return;

            const translatePath = useTranslatedPath(lang);
            const path = translatePath(Astro.url.pathname);
            console.log("ja", path);
            console.log(currentLanguage);

            return (
                <a href={path} class="link-class">
                    {shortName === 'HU' ? (
                    <Fragment set:html={language_HU} />
                    ) : (
                    <Fragment set:html={language_EN} />
                    )}
                </a>
                </a>
            );
        })
    }
</div>
