---
interface Props {
    name: string;
    country: string;
}

const { name, country } = Astro.props;
---

<div class="guest-teacher-item">
    <div class="name-card">
        <h4>{name}</h4>
        <span class="clr-brand-orange">{country}</span>
    </div>
</div>

<style lang="scss">
    @import '/src/sass/base/_colors';
    .guest-teacher-item {
        display: inline-block;
        margin-right: 8px;
    }

    .name-card {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 4px;
        background-color: $color-shades-darkGray;
        padding: 12px 12px;
        span {
            font-weight: 800;
        }
        h4 {
            margin: 0;
        }
    }
</style>
