@use '/src/sass/base/_colors' as colors;

.moondays-card {
  border: 2px solid colors.$color-shades-lightBlack;
  padding: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    margin-bottom: 12px;
  }
  &__month {
    font-weight: bold;
  }

  &__year {
    font-weight: bold;
  }
}
