@import '/src/sass/base/_colors';
@import '/src/sass/base/_fonts';

.input-wrapper {
  display: flex; /* Flexbox használata */
  flex-direction: column; /* Függőleges elrendezés */
  width: 100%; /* Kitölti a szülő helyét */
}

.input-label {
  width: 100%; /* A címke kitölti a szülő teret */
}

.input {
  width: 100%; /* Input kitölti a szülőt */
  box-sizing: border-box; /* Padding és border ne tolja túl */
  height: 44px; /* Megtartja a fix magasságot */
  padding-left: 16px;
  font-family: $font-family-secondary;
  font-weight: 600;
  background: transparent;
  color: $color-shades-lightGray;
  box-shadow: 0px 0px 0px 2px $color-shades-lightGray inset;

  &:focus {
    box-shadow: 0px 0px 0px 2px $color-brand-orange inset;
    color: $color-brand-orange;
  }
  &:invalid {
    box-shadow: 0px 0px 0px 2px red inset;
  }
}

// /* :hover - Egérrel való lebegés */
// .input:hover {
//   border-color: #007bff;
//   box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
// }

// /* :focus - Fókusz állapot */
// .input:focus {
//   border-color: #007bff;
//   outline: none;
//   box-shadow: 0 0 8px rgba(0, 123, 255, 0.75);
// }

// /* :invalid - Érvénytelen bemenet (HTML5-validáció) */
// .input:invalid {
//   border-color: #dc3545;
//   background-color: #f8d7da;
//   color: #721c24;
// }

// /* :valid - Érvényes bemenet (HTML5-validáció) */
// .input:valid {
//   border-color: #28a745;
//   background-color: #d4edda;
//   color: #155724;
// }

// /* :disabled - Letiltott input mező */
// .input:disabled {
//   background-color: #e9ecef;
//   color: #6c757d;
//   border-color: #ced4da;
//   cursor: not-allowed;
// }

// /* :placeholder-shown - Amikor a placeholder látszik */
// .input:placeholder-shown {
//   font-style: italic;
//   color: red !important;
// }

// /* ::placeholder - Placeholder stílus */
// .input::placeholder {
//   color: red !important;
//   font-style: italic;
// }

// /* ::before vagy ::after - Ha egy input mező köré speciális elemet szeretnél */
// .input-wrapper::before {
//   content: '🌟';
//   margin-right: 5px;
// }
