@use '/src/sass/base/_colors' as colors;
@use '/src/sass/base/_fonts' as fonts;

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative; /* A fókusz keret pontos elhelyezéséhez */
}

.input {
  width: 100%;
  box-sizing: border-box;
  height: 44px;
  padding-left: 16px;
  font-family: fonts.$font-family-secondary;
  font-weight: 600;
  background: transparent;
  color: colors.$color-shades-lightGray;
  border: 2px solid colors.$color-shades-lightGray; /* Alap keret */
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease;

  &:focus {
    border: 2px solid colors.$color-brand-orange; /* A border színe változik */
    color: colors.$color-brand-orange;
    outline: none; /* Böngésző alap outline eltávolítása */
  }
}
