@use '/src/sass/base/_colors' as colors;

.mysore-structure-card {
  background-color: colors.$color-shades-darkGray;

  &__content {
    background-color: colors.$color-shades-darkGray;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
