---
import './_carousel.scss';

export interface CarouselProps {
    name?: string;
    text?: string;
}

const { name, text }: CarouselProps = Astro.props;
---

<div class="embla">
    <div class="embla__viewport">
        <div class="embla__container">
            <slot />
        </div>
    </div>
    <div class="embla__controls">
        <div class="embla__dots"></div>
    </div>
</div>

<script src="/src/components/Carousel/carousel.ts"></script>
