@use '/src/sass/base/_colors' as colors;

.navigation {
  margin: 0 !important;
  height: 60px !important;
}

nav {
  position: relative;

  .navbar-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    height: 60px;
  }
}

html[style='overflow: hidden;'] {
  .navbar_container:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: colors.$offcanvas-menu-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.navigation-lang-section {
  margin-right: 32px;
}
