@use '/src/sass/base/_colors' as colors;
@use '/src/sass/base/_breakpoints' as breakpoints;

.tabs__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.tabs__label.active {
  color: colors.$color-brand-orange;
  margin-bottom: -2px;
  border-bottom: 3px solid colors.$color-brand-orange;
}

.tabs__label.not-active:hover {
  color: colors.$color-brand-orange;
}

.tabs__header {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid colors.$color-shades-lightBlack;
  gap: 28px;

  @include breakpoints.xs {
    width: 100%;
    justify-content: space-between;
  }
}
