@use '/src/sass/base/_colors' as colors;

.footer-desktop-menu {
  display: flex;
  flex-direction: row;

  ul {
    list-style-type: none;
  }

  li {
    color: colors.$color-shades-lightGray;
  }

  p {
    margin-bottom: 4px;
  }

  .footer-submenu,
  .footer-menuitem {
    &:hover {
      color: colors.$color-brand-orange;
      text-decoration: none;
    }
  }
}

.footer-desktop-menu a:hover {
  color: colors.$color-brand-orange;
  text-decoration: none;
}

.menu-flash {
  color: colors.$color-shades-white;
  animation-name: flash;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
}

@keyframes flash {
  0% {
    color: colors.$color-shades-white;
  }
  25% {
    color: colors.$color-brand-orange;
  }
  50% {
    color: colors.$color-brand-orange;
  }
  100% {
    color: colors.$color-brand-orange;
  }
}
