---
import './_FooterDesktopMenu.scss';

const menuItemsJogaorak = [
    { link: '/orarend', label: 'Órarend' },
    { link: '/arak', label: 'Árak' },
    { link: '/astanga-mysore-program', label: 'Mysore-program' },
    { link: '/tanfolyam', label: 'Tanfolyamok' },
    { link: '/csapatunk', label: 'Csapatunk' },
    { link: '/vinyasza-jogairanyzatok', label: 'Jógairányzatok' },
    { link: '/letoltesek', label: 'Letöltések' },
];

const menuItemsTudnivalok = [
    { link: '/rolunk', label: 'Rólunk' },
    { link: '/elso-alkalom', label: 'Első alkalom' },
    { link: '/hazirend', label: 'Házirend' },
    { link: '/mantra', label: 'Mantrák' },
    { link: '/holdnapok', label: 'Holdnapok' },
    { link: '/osztondij', label: 'Ösztöndíj' },
    { link: '/ajanlottolvasmanyok', label: 'Olvasmányok' },
];
---

<div class="row footer-desktop-menu">
    <div class="col-4-md ooter-desktop-menu__column">
        <ul class="footer-desktop-menu__list">
            <li>
                <p class="footer-desktop-menu__header clr-shades-lightGray heading heading--4 mb-20px">Jógaórák</p>
            </li>
            {
                menuItemsJogaorak.map(({ link, label }) => (
                    <li class="footer-desktop-menu__item">
                        <a href={link} class="footer-desktop-menu__link">
                            <p class="footer-desktop-menu__submenu clr-shades-lightGray footer-submenu">{label}</p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    <div class="footer-desktop-menu__column col-4-md">
        <ul class="footer-desktop-menu__list">
            <li>
                <p class="footer-desktop-menu__header clr-shades-lightGray heading heading--4 mb-20px">Tudnivalók</p>
            </li>
            {
                menuItemsTudnivalok.map(({ link, label }) => (
                    <li class="footer-desktop-menu__item">
                        <a href={link} class="footer-desktop-menu__link">
                            <p class="footer-desktop-menu__submenu clr-shades-lightGray footer-submenu">{label}</p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    <div class="footer-desktop-menu__column col-4-md">
        <ul class="footer-desktop-menu__list">
            <li class="footer-desktop-menu__item footer-desktop-menu__item--highlighted mb-20px">
                <a href="/blog" class="footer-desktop-menu__link clr-shades-lightGray heading heading--4 no-underline">
                    Blog
                </a>
            </li>
            <li class="footer-desktop-menu__item footer-desktop-menu__item--highlighted mb-20px">
                <a
                    href="https://shop.bandha.works"
                    class="footer-desktop-menu__link clr-shades-lightGray heading heading--4 no-underline"
                >
                    Shop
                </a>
            </li>
            <li class="footer-desktop-menu__item footer-desktop-menu__item--highlighted">
                <a
                    href="/kapcsolat"
                    class="footer-desktop-menu__link clr-shades-lightGray heading heading--4 no-underline"
                >
                    Kapcsolat
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const headers = document.querySelectorAll('.heading--4.mb-20px');
        const yogaMenuItems = document.querySelectorAll('.col-4-md:nth-of-type(1) .footer-submenu');
        const infoMenuItems = document.querySelectorAll('.col-4-md:nth-of-type(2) .footer-submenu');

        function addHoverEffect(header, menuItems) {
            header.addEventListener('mouseenter', () => {
                menuItems.forEach((item) => item.classList.add('menu-flash'));
            });

            header.addEventListener('mouseleave', () => {
                menuItems.forEach((item) => item.classList.remove('menu-flash'));
            });
        }

        addHoverEffect(headers[0], yogaMenuItems); // Jógaórák
        addHoverEffect(headers[1], infoMenuItems); // Tudnivalók
    });
</script>
