---
import { useTranslations, getLangFromUrl } from '../../i18n/utils';
import './_FooterDesktopMenu.scss';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const menuItemsJogaorak = [
    { link: t('orarendLink'), label: t('orarend') },
    { link: t('arakLink'), label: t('arak') },
    { link: t('mysoreprogramLink'), label: t('mysoreprogram') },
    { link: t('tanfolyamokLink'), label: t('tanfolyamok') },
    { link: t('csapatunkLink'), label: t('csapatunk') },
    { link: t('jogairanyzatokLink'), label: t('jogairanyzatok') },
    { link: t('letoltesek'), label: t('letoltesek') },
];

const menuItemsTudnivalok = [
    { link: t('rolunkLink'), label: t('rolunk') },
    { link: t('elsoalkalomLink'), label: t('elsoalkalom') },
    { link: t('hazirendLink'), label: t('hazirend') },
    { link: t('mantraLink'), label: t('mantra') },
    { link: t('holdnapokLink'), label: t('holdnapok') },
    { link: t('osztondijLink'), label: t('osztondij') },
    { link: t('olvasmanyokLink'), label: t('olvasmanyok') },
];
---

<div class="row footer-desktop-menu">
    <div class="col-4-md ooter-desktop-menu__column">
        <ul class="footer-desktop-menu__list">
            <li>
                <p class="footer-desktop-menu__header clr-shades-lightGray heading heading--4 mb-20px">
                    {t('jogaorak')}
                </p>
            </li>
            {
                menuItemsJogaorak.map(({ link, label }) => (
                    <li class="footer-desktop-menu__item">
                        <a href={link} class="footer-desktop-menu__link">
                            <p class="footer-desktop-menu__submenu clr-shades-lightGray footer-submenu">{label}</p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    <div class="footer-desktop-menu__column col-4-md">
        <ul class="footer-desktop-menu__list">
            <li>
                <p class="footer-desktop-menu__header clr-shades-lightGray heading heading--4 mb-20px">
                    {t('tudnivalok')}
                </p>
            </li>
            {
                menuItemsTudnivalok.map(({ link, label }) => (
                    <li class="footer-desktop-menu__item">
                        <a href={link} class="footer-desktop-menu__link">
                            <p class="footer-desktop-menu__submenu clr-shades-lightGray footer-submenu">{label}</p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    <div class="footer-desktop-menu__column col-4-md">
        <ul class="footer-desktop-menu__list">
            <li class="footer-desktop-menu__item footer-desktop-menu__item--highlighted mb-20px">
                <a href="/blog" class="footer-desktop-menu__link clr-shades-lightGray heading heading--4 no-underline">
                    Blog
                </a>
            </li>
            <li class="footer-desktop-menu__item footer-desktop-menu__item--highlighted mb-20px">
                <a
                    href="https://shop.bandha.works"
                    class="footer-desktop-menu__link clr-shades-lightGray heading heading--4 no-underline"
                >
                    Shop
                </a>
            </li>
            <li class="footer-desktop-menu__item footer-desktop-menu__item--highlighted">
                <a
                    href={t('kapcsolatLink')}
                    class="footer-desktop-menu__link clr-shades-lightGray heading heading--4 no-underline"
                >
                    {t('kapcsolat')}
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const headers = document.querySelectorAll('.heading--4.mb-20px');
        const yogaMenuItems = document.querySelectorAll('.col-4-md:nth-of-type(1) .footer-submenu');
        const infoMenuItems = document.querySelectorAll('.col-4-md:nth-of-type(2) .footer-submenu');

        function addHoverEffect(header, menuItems) {
            header.addEventListener('mouseenter', () => {
                menuItems.forEach((item) => item.classList.add('menu-flash'));
            });

            header.addEventListener('mouseleave', () => {
                menuItems.forEach((item) => item.classList.remove('menu-flash'));
            });
        }

        addHoverEffect(headers[0], yogaMenuItems); // J칩ga칩r치k
        addHoverEffect(headers[1], infoMenuItems); // Tudnival칩k
    });
</script>
