---
import Icons from '../Icons/Icons.astro';
import SocialIcons from '../Icons/SocialIcons.astro';
import './_footer.scss';
---

<footer>
    <div class="container-fluid footer bg-shades-darkGray mt-3">
        <div class="row footer__first-row">
            <div class="col-12-xs col-6-md">
                <div class="footer__brand">
                    <div>
                        <a href="/" class="btn" aria-label="vissza a nyitó oldalra">
                            <Icons name="BwSymbol" color="white" />
                        </a>
                    </div>
                    <div class="footer__icon-text">
                        <p>
                            Astanga Jógaiskola <br />
                            Paramaguru Sharath Jois <br />
                            áldásával
                        </p>
                    </div>
                </div>
                <div class="footer__navigation">
                    <div class="footer__navigation-box">
                        <!-- <FooterDesktopMenu /> -->
                        <p>Footer Desktop Menu</p>
                    </div>
                </div>
            </div>
            <div class="col-12-xs col-6-md footer__newsletter">
                <div class="footer__newsletter-box text-center">
                    <h3 class="mb-1 mt-0">IRATKOZZ FEL HÍRLEVELÜNKRE</h3>
                    <p class="mb-2 mt-0">Értesülj a legfrissebb eseményeinkről és egyéb jógás hírekről elsőkézből</p>
                    <div class="centered-block">
                        <a
                            href="/hirlevel"
                            class="btn btn--secondary--outline mt-20px mb-20px"
                            aria-label="Feliratkozás hírlevélre"
                        >
                            Feliratkozás
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__social">
            <div class="pt-2 pb-2">
                <SocialIcons />
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-box mt-2 mb-2">
                <div>
                    <p class="small">
                        Designed and code by
                        <a
                            href="https://omworks.hu"
                            class="link-enhanced link-orange"
                            aria-label="Tovább az OmWorks Yoga Creatives oldalra"
                        >
                            <spam class="small">OmWorks Yoga Creatives</spam>
                        </a>
                    </p>
                </div>
                <div class="separator"></div>
                <div>
                    <p class="small">
                        Copyright© 2013-{new Date().getFullYear()} BandhaWorks
                    </p>
                </div>
                <div class="separator"></div>
                <div>
                    <a
                        href="/adatvedelmi-tajekoztato"
                        class="link-enhanced"
                        aria-label="Tovább az OmWorks Yoga Creatives oldalra"
                    >
                        <p class="small">Adatvédelmi tájékoztató</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
