---
import Icons from '../Icons/Icons.astro';

interface Props {
    prevUrl: string | undefined;
    nextUrl: string | undefined;
    currentPage: number;
    totalPages: number;
}

const { prevUrl, nextUrl, currentPage, totalPages } = Astro.props;
---

<nav aria-label="Blog pages" class="pagination-nav">
    <div class="pagination-button left">
        {
            prevUrl && (
                <a href={prevUrl} class="link-primary" style="border: visible;">
                    <Icons name="ChevronLeft" color="orange" />
                </a>
            )
        }
    </div>
    <div class="pagination-info">
        <p>{currentPage} / {totalPages}</p>
    </div>
    <div class="pagination-button right">
        {
            nextUrl && (
                <a href={nextUrl} class="link-primary" style="border: visible;">
                    <Icons name="ChevronRight" color="orange" />
                </a>
            )
        }
    </div>
</nav>

<style>
    .pagination-nav {
        position: relative;
        width: 100%;
        height: 40px;
        margin: 2rem 0;
    }

    .pagination-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .pagination-info {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }
</style>
