---
const { prevUrl, nextUrl } = Astro.props
---

<nav aria-label="Blog pages">
    {prevUrl && (
      <a href={prevUrl} class="link-primary" style="border: visible;">
        <span style="margin-right: 8px;">&#x2190;</span> <!-- Using an emoji for the left arrow icon -->
        Előző
      </a>
    )}
    {nextUrl && (
      <a href={nextUrl} class="link-primary" style="border: visible;">
        Következő
        <span style="margin-left: 8px;">&#x2192;</span> <!-- Using an emoji for the right arrow icon -->
      </a>
    )}
  </nav>