---
import { getEntryBySlug, type CollectionEntry } from 'astro:content';

type Props = {
    post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
---

<article>
    <a href={`/blog/${post.slug}`}>
        <h1>{post.data.title}</h1>
        <!-- <p>{post.data.description}</p> -->
    </a>
</article>
