---
const allPosts = await Astro.glob('../../pages/blog/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<div class="tag-container">
    {
        tags.map((tag) => (
            <p>
                <a href={`/blog/tags/${tag}`}>{tag}</a>
            </p>
        ))
    }
</div>

<style>
    .tag-container {
        display: flex;
        flex-wrap: wrap; /* Ez lehetővé teszi, hogy a címkék tördeljenek a következő sorba, ha nincs elég hely */
        gap: 10px; /* Ez ad némi térközt a címkék közé */
    }

    .tag-container p {
        margin: 0; /* Ez eltávolítja az alapértelmezett margót a <p> elemekről */
    }
</style>
