---
import { getCollection } from 'astro:content';
import './_blog.scss';

const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const tagContainerClass = `${Astro.props.class || ''} tag-container`.trim();
---

<div class={tagContainerClass}>
    {
        tags.map((tag) => (
            <a href={`/blog/tags/${tag}`} class="blog__tag">
                <p>{tag}</p>
            </a>
        ))
    }
</div>
