---
import { getCollection } from 'astro:content';
import './_blog.scss';

const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<div class="tag-container">
    {
        tags.map((tag) => (
            <a href={`/blog/tags/${tag}`} class="blog__tag">
                <p>{tag}</p>
            </a>
        ))
    }
</div>

<!-- ---
import { getCollection } from 'astro:content';
import './_blog.scss';

const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<div class="tag-container">
    {
        tags.map((tag) => (
            <div class="blog__tag">
                <p>
                    <a href={`/blog/tags/${tag}`}>{tag}</a>
                </p>
            </div>
        ))
    }
</div> -->
