@use '/src/sass/base/_colors' as colors;

.social-icons__section {
  display: flex;
  flex-direction: row;
  gap: 8px;

  svg:hover {
    fill: colors.$color-brand-orange;
  }
}

.align-center {
  justify-content: center; /* Középre igazítás */
}

.align-left {
  justify-content: flex-start; /* Balra igazítás */
  .btn:first-child {
    padding-left: 0;
  }
}
