---
import Icons from './Icons.astro';
import './_SocialIcons.scss';

const { align = 'center', class: additionalClass = '' } = Astro.props;
---

<div class={`social-icons__section ${align === 'left' ? 'align-left' : 'align-center'} ${additionalClass}`}>
    <a
        href="https://www.facebook.com/bandhaworks"
        target="_blank"
        rel="noreferrer"
        class="btn"
        aria-label="Tov치bb Facebook oldalunkra"
    >
        <Icons name="Facebook" color="white" />
    </a>
    <a
        href="https://www.instagram.com/bandhaworks/"
        target="_blank"
        rel="noreferrer"
        class="btn"
        aria-label="Tov치bb Instagram oldalunkra"
    >
        <Icons name="Instagram" color="white" />
    </a>
    <a
        href="https://soundcloud.com/bandhaworks-hu"
        target="_blank"
        rel="noreferrer"
        class="btn"
        aria-label="Tov치bb Soundcloud oldalunkra"
    >
        <Icons name="Soundcloud" color="white" />
    </a>
    <a
        href="https://wa.me/36309004142"
        target="_blank"
        rel="noreferrer"
        class="btn"
        aria-label="Tov치bb a Whatsapp oldalunkra"
    >
        <Icons name="Whatsapp" color="white" />
    </a>
</div>
