<!-- ---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import Link from '../../../components/Link.astro';
const allPosts = await Astro.glob('../*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = 'Blog cimkék oldal';
---

<BaseLayout title={pageTitle}>
    <div>
        {
            tags.map((tag) => (
                <p>
                    <Link href={`/blog/tags/${tag}`} text={tag} style="primary" />
                </p>
            ))
        }
    </div>
</BaseLayout> -->
