---
import BaseLayout from './BaseLayout.astro';

const { frontmatter, title } = Astro.props;
const { minutesRead } = frontmatter;
---

<BaseLayout title={title}>
    <div class="container">
        <h1>{frontmatter.title}</h1>
        <div class="row">
            <p>{minutesRead}</p>
            <article>
                <slot />
            </article>
        </div>
    </div>
</BaseLayout>
