---
import BaseLayout from './BaseLayout.astro';
// const { minutesRead } = Astro.props.frontmatter;

const { title } = Astro.props;
---

<BaseLayout title={title}>
    <div class="container">
        <div class="row">
            <!-- <p>{minutesRead}</p> -->
            <slot />
        </div>
    </div>
</BaseLayout>
