---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout title="My Blog">
    <div class="container">
        <div class="row">
            <slot />
        </div>
    </div>
</BaseLayout>
