---
import BaseLayout from './BaseLayout.astro';
import { formatDate, slugify } from '../components/js/utils';

const { frontmatter } = Astro.props;
const { minutesRead } = frontmatter;

const { title, date } = frontmatter;
---

<BaseLayout {title}>
    <div class="container">
        <h1>{title}</h1>
        <p>{formatDate(date)}</p>
        <div class="row">
            <p>{minutesRead}</p>
            <article>
                <slot />
            </article>
        </div>
    </div>
</BaseLayout>
