---
import faviconSrc from '../images/favicon.png';
import faviconSvgSrc from '../images/favicon.svg';
import Header from '../components/Navigation/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import { AstroFont } from 'astro-font';
import Seo from '../components/Seo.astro';
import '../sass/global.scss';

// Props interface
interface Props {
    title: string;
    description?: string;
    image?: string | ImageMetadata;
    isHomePage?: boolean;
    noindex?: boolean;
    language?: 'Hungarian' | 'English';
    canonical?: string;
    canonicalLanguage?: 'Hungarian' | 'English';
    titleBackground?: boolean;
}

const url = Astro.url;
const { title, isHomePage, description, noindex, language, canonicalLanguage, titleBackground } = Astro.props as Props;
---

<!doctype html>
<html lang={language === 'Hungarian' ? 'hu' : 'en'}>
    <head>
        <Seo {...Astro.props} />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <!-- DNS prefetch és preconnect -->
        <link rel="dns-prefetch" href="https://identity.netlify.com" />
        <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
        <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <!-- Favicon optimalizálva -->
        <link rel="icon" type="image/svg+xml" href={faviconSvgSrc.src} />
        <link rel="apple-touch-icon" href={faviconSrc.src} />
        <link rel="manifest" href="/manifest.json" />

        <!-- Font optimalizálva -->
        <AstroFont
            config={[
                {
                    src: [],
                    name: 'Abril Fatface',
                    googleFontsURL: 'https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap',
                    preload: true,
                    display: 'swap',
                    selector: 'body',
                    fallback: 'serif', // Eltávolítottuk a preloadFiles tulajdonságot
                },
            ]}
        />
        <script defer data-domain="bandha.works" src="https://plausible.io/js/script.js"></script>

        {noindex && <meta name="robots" content="noindex, nofollow" />}
    </head>

    <body>
        <div class="layout-content-wrapper">
            <slot />
        </div>
    </body>
</html>

<style>
    body {
        margin: 0;
        height: 100vh;
        width: 100vw;
    }
</style>
