---
import { AstroFont } from 'astro-font';
import Seo from '../components/Seo.astro';
import '../sass/global.scss';

interface Props {
  title: string;
  description?: string;
  image?: string | ImageMetadata;
  isHomePage?: boolean;
  noindex?: boolean;
  language?: 'Hungarian' | 'English';
  canonical?: string;
  canonicalLanguage?: 'Hungarian' | 'English';
  titleBackground?: boolean;
}

const { language = 'Hungarian', noindex } = Astro.props as Props;
---

<!doctype html>
<html lang={language === 'Hungarian' ? 'hu' : 'en'}>
  <head>
    <Seo {...Astro.props} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- DNS prefetch és preconnect -->
    <link rel="dns-prefetch" href="https://identity.netlify.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/icon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/icon-16x16.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/favicon-192x192.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon/favicon-512x512.png" />
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#f39e12" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <!-- Font -->
    <AstroFont
      config={[
        {
          src: [],
          name: 'Abril Fatface',
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'serif',
        },
      ]}
    />
    <script defer data-domain="bandha.works" src="https://plausible.io/js/script.js"></script>

    {noindex && <meta name="robots" content="noindex, nofollow" />}
  </head>

  <!-- FIXEN login-page class -->
  <body class="login-page">
    <div class="layout-content-wrapper">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  body.login-page {
    overflow: hidden;
    overscroll-behavior: none; /* kevésbé „ugrál” iOS-en */
  }
</style>
