---
import language_HU from '../../images/svg/language_HU.svg?raw';
import language_EN from '../../images/svg/language_EN.svg?raw';
---

<div id="language-picker-linktr">
    <a
        id="lang-switch"
        href="#"
        class="display-flex display-flex--align-items-center"
        aria-label="Váltás nyelvre / Switch language"
        data-hu={language_HU}
        data-en={language_EN}
    >
        <span id="lang-icon"></span>
    </a>
</div>

<script is:inline>
    const langSwitch = document.getElementById('lang-switch');
    const langIcon = document.getElementById('lang-icon');
    const url = new URL(window.location.href);
    const currentLang = url.searchParams.get('lang') || 'hu';

    const newLang = currentLang === 'en' ? 'hu' : 'en';
    const newHref = `${url.pathname}?lang=${newLang}`;

    langSwitch.href = newHref;
    langIcon.innerHTML = langSwitch.dataset[newLang];
</script>
