---
import { languages } from '../../i18n';
import { useTranslatedPath, type SupportedLanguage } from '../../i18n';
import language_HU from '../../images/svg/language_HU.svg?raw';
import language_EN from '../../images/svg/language_EN.svg?raw';

const currentLanguage = Astro.currentLocale;
---

<div>
    {
        Object.entries(languages).map(([langKey, { shortName }]) => {
            const lang = langKey as SupportedLanguage; // Type assertion

            if (currentLanguage === lang) return;

            const translatePath = useTranslatedPath(lang);
            const path = translatePath(Astro.url.pathname);

            return (
                <div id="language-picker">
                    <a
                        href={path}
                        class="display-flex display-flex--align-items-center"
                        aria-label="Itt választhatsz nyelvet. Angol vagy magyar nyelvek közül választhatsz. You can choose your language here. You can choose between English or Hungarian."
                    >
                        {shortName === 'HU' ? <Fragment set:html={language_HU} /> : <Fragment set:html={language_EN} />}
                    </a>
                </div>
            );
        })
    }
</div>
